* {
    box-sizing: border-box;
}

:root {
    --primary-color: #FF5B2E;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: #fffaf5;
}

/* Common */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
}

input, select, button, textarea {
    font-size: inherit;
    font-family: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    font-weight: 600;
    font-size: 1.4rem;
    color: #000958;
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;
    text-align: center;
    transition: opacity 0.2s linear;
}

.btn:hover {
    opacity: 0.7;
}

.btn--primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 10px;
    fill: var(--primary-color);
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    font-size: 1.4rem;
    line-height: 1;
    color: #5E6085;
}

.navbar__link:hover, .navbar__link.active {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    min-width: 117px;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    padding-bottom: 94px;
    display: flex;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background-color: #FE997B;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 17px;
    right: -43px;
}

.hero__img-wrap--small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background-color: #FAA7AD;
    border: 2px solid #fddfe1;
    margin: 0 0 -58px -24px;
    border-radius: 16px;
}

.hero__list {
    position: absolute;
    bottom: 0;
    left: 129px;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-list-item {
    display: flex;
    align-items: center;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background-color:rgba(101, 151, 194, 0.4);
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FEC23F;
    object-fit: cover;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: Sora;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 600;
    color: #181E52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}

.skeleton-short {
    width: 39px;
}

.hero-list-item__separate {
    margin: 20px 0;
    width: 100%;
    height: 2px;
    background-color:#F2F2F2;
    border-radius: 99px;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.52;
    color: #000958;
}

.hero__desc {
    margin-top: 24px;
    width: 391px;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    margin-top: 38px;
}

.hero__cta-btn {
    --height: 60px;
    min-width: 189px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
}

.btn__icon svg {
    width: 5px;
}

.hero__cta-link {
    margin-left: 24px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
    color: #000958;
}